# 👋 Welcome to my GitHUB 

My name is **{{name}}**. I'm a Back-end developer from Edinburgh, Scotland, currently living in **{{home}}**. 

#### Tech I code with

![angular2](https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white)
![angular](images/angular.svg) 
![react](images/react.svg) 
![typescript](images/typescript.svg) 
![node](images/node.svg) 
![mongodb](images/mongodb.svg) 
![git](images/git.svg) 
![html](images/html.svg) 
![prettier](images/prettier.svg) 
![brave](images/brave.svg) 

#### Pinned repositories

The pinned repositories at the top of my profile, beginning with **'WildCodeSchool/'**, are class group projects made during my time at the Wild Code School in Lille, France. @WildCodeSchool

### Have a great day! 😊

----

<p align="center">Last automatic update on {{date}}.<br>This <i>README</i> updates <b>every hour</b></p>